/* You can add global styles to this file, and also import other style files */
/* colors */
$authColor: #51d274;
$mainColor: #2d8161;
$errorColor: #f35;
$errorTip: #000;
$successColor: #1ca154;
$infoColor: #08a1ec;
//$errorColor: #ff1;
$listItemsColor: blue;
$formBackground: rgba(41, 69, 224, 0.45);
$placeholderColor: #343a42;
$textColor: #191919;
$borderColor: #191919;
$listBg: lighten($authColor, 35%);
$activeLink: lighten($listItemsColor, 35%);


/* fonts */
$MenschLight: Mensch-Thin;
$MenschNormal: Mensch;
$FiraLight: FiraSans-Light;
$FiraUltraLight: FiraSans-UltraLight;
$baseFont:  16px/18px $FiraLight, sans-serif;


/* sizes */
$borderRadiusThin: 2px;
$titleFontSize: 27px;


/* complex properties */
$btnBorder: 1px solid $authColor;
$border: 1px solid $borderColor;
