.create-list__overflow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0, 0.4);
}
.create-list {
  &__form {
    width: 35%;
    height: 300px;
    padding: 15px;
    position: absolute;
    top: 25%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    border: $border;
    box-shadow: 0 0 3px 1px #656363;
    background: #fff;
  }

  &__title {
    margin: 10px;
    font-size: 17px;
    line-height: 19px;
    text-transform: uppercase;
  }

  &__label {
    width: 100%;
    display: inline-block;
    margin: 10px 0 10px;
  }

  &__input {
    margin-bottom: 5px;

    &_error {
      color: $errorTip;
    }
    &_success {
      color: $successColor;
    }
    &-name {
    }
  }

  &__actions {
    margin: 15px;
    letter-spacing: 15px;
  }

  .btn {
    letter-spacing: normal;
  }



}
