.header-nav{
  border: 1px solid gray;

  &__list{
    height: 50px;
    text-align: right;
    padding: 5px 50px;
  }

  &__item{
    display: inline-block;
    line-height: 50px;
  }

  &__link{
    padding: 10px 20px;
    border: 1px solid gray;
    margin-left: 25px;

    &._active{
      background: $activeLink;
    }
  }
}
