.main-list-holder {
  background: $listBg;
  color: $textColor;

  .main-list-header {
    border: 1px solid gray;

    &__list {
      height: 50px;
      text-align: left;
      padding: 10px 75px;
    }

    &__item {
      display: inline-block;
      line-height: 40px;
      margin-right: 10px;
    }

    &__link,
    &__info {
      padding: 10px 10px;
      //border: 1px solid gray;
    }

    &__link {
      font-size: 30px;
      padding: 5px 10px;
      vertical-align: middle;
    }

    &__info {
      display: inline-block;
      padding: 5px 5px;
    }

    &__link {
      color: lighten($listItemsColor, 15%);
      font-size: 30px;
      line-height: 30px;
      vertical-align: middle;

      span {
        font-size: 30px;
        line-height: 30px;
        vertical-align: middle;
      }
    }
  }

  .main-list {

    .main-list__body {

      .main-list__item_row {
        border-bottom: 1px solid $mainColor;
      }
      .main-list_header {
        background: cornflowerblue;
      }

      .main-list__item {

        .main-list__toggle-status {
          cursor: pointer;
        }
        .main-list__cell_action ._btn {
          border: none;
          color: #fff;
        }

        .main-list__cell_action_edit ._btn {
          background: $successColor;
        }

        .main-list__cell_action_delete ._btn {
          background: $errorTip;
        }

        .main-list__cell_action_details ._btn {
          background: $infoColor;
        }

        .main-list__row {

          .main-list__cell {
            display: inline-block;
            width: 10%;
            text-align: center;
            vertical-align: middle;
            padding: 5px;

            &:first-child {
              width: 5%;
            }
          }
        }

        .main-list__row-all {
          .main-list__cell {
            width: 10%;
          }
        }
      }
    }
  }
}

.date-picker__holder {
  position: relative;
}
