.profile {
  &__holder {
    margin: 15px;
    margin-bottom: 20px;
  }

  &__item {
    border-bottom: 1px solid $mainColor;
    margin-bottom: 20px;
    vertical-align: middle;
    height: 50px;
    line-height: 50px;
    padding: 5px;
  }

  &__field-title, &__field-value{
    float: left;
  }

  &__field-title {
    margin-right: 10px;
    font-weight: bold;
  }

  &__actions {
    padding: 10px 25px;

    ._btn {
      width: 150px;
      margin-right: 10px;
    }
  }
}
