.auth {

  &__container {
    height: 100%;
    text-align: center;
    background: url('./../assets/bg/store-bg.jpg') no-repeat 50% 50%;
    background-size: cover;
    font-size: 0;
    line-height: 0;
    &:after {
      display: inline-block;
      vertical-align: middle;
      content: '';
      height: 100%;
    }
  }

  &__holder {
    display: inline-block;
    vertical-align: middle;
    background: $formBackground;
    font-size: 16px;
    font-family: $FiraLight;
    line-height: 1.2;
    color: #fff;
    text-shadow:
      -1px -1px 0 $textColor,
      1px -1px 0 $textColor,
      -1px 1px 0 $textColor,
      1px 1px 0 $textColor;

    padding: 25px 35px;
    border: 2px solid #51d274;
    /*border-radius: 5px;*/
  }

  &__btn-block {
  }

  &__title {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: $titleFontSize;
  }

  &__form {
    margin-bottom: 25px;
  }

  &__input {
    background: #fff;
    color: $textColor;
    display: inline-block;
    font-size: 20px;
    padding: 7px 25px;
    width: 100%;
    box-sizing: border-box;
    border: $btnBorder;
    /*border-radius: $borderRadiusThin;*/

    &._error {
      border: 1px solid $errorColor;

      &._hide {
        visibility: hidden;
      }
    }
  }

  &__input-group {

    margin-bottom: 35px;
    position: relative;
  }

  &__signin-error {
    height: 18px;
  }

  &__btn {
    margin: 5px;
    background: transparent;
    border: $btnBorder;
    color: #fff;
    font-size: 20px;
    text-shadow:
      -1px -1px 0 $textColor,
      1px -1px 0 $textColor,
      -1px 1px 0 $textColor,
      1px 1px 0 $textColor;
    padding: 5px 20px;
    /*border-radius: $borderRadiusThin;*/

    &:last-child {
      margin-top: 20px;
    }

    &._active {
      background: $authColor;
      text-shadow: none;
      font-size: 25px;
      line-height: 25px;
      border: 1px solid #fff;
    }

    &[disabled] {
      opacity: 0.7;
    }
  }



  &__error {
    position: absolute;
    top: 40px;
    font-size: 14px;
    color: #fff;

    text-shadow: none;

    li {
      text-align: left;

    }
  }
}
