<div class="auth__container">
  <div class="auth__holder">
    <h1 class="auth__title"><span class="fa fa-sign-in"></span>
      Sign in
    </h1>
    <!-- login form -->
    <form name="signInForm" class="auth__form _clearfix"
          [formGroup]="form"
          novalidate>
      <div class="auth__input-group _clearfix">
        <input type="email"
               formControlName="email"
               class="auth__input"
               [class._error]="apiError || isError && errorMessages.email.length"
               name="email"
               placeholder="Email">
        <div *ngIf="errorMessages.email.length" class="auth__error">
          <ul *ngIf="isError">
            <li *ngFor="let error of errorMessages.email">
              {{error}}
            </li>
          </ul>
        </div>
      </div>

      <div class="auth__input-group _clearfix">
        <input type="password"
               formControlName="password"
               class="auth__input"
               [class._error]="apiError || isError && errorMessages.password.length"
               name="password"
               placeholder="Password">
        <div *ngIf="errorMessages.password.length" class="auth__error">
          <ul *ngIf="isError">
            <li *ngFor="let error of errorMessages.password">
              {{error}}
            </li>
          </ul>
        </div>
      </div>
      <div class="auth__signin-error"
           [class._hide]="!isError && !apiError">
        <span>
          {{apiError}}
        </span>
      </div>
      <button class="auth__btn _main _active"
              [disabled]="isError"
              (click)="signin()">Sign in
      </button>
    </form>
    <div class="_left _clearfix">
      <p class="">Need an account?</p>
      <button class="auth__btn" routerLink="/signup">
        Sign up
      </button>
    </div>
    <div class="_right _clearfix">
      <p class="">Or jump to the</p>
      <button class="auth__btn" routerLink="/">
        Authentication page
      </button>
    </div>
  </div>
</div>
