<div class="create-list">
  <div class="create-list__overflow" (click)="close($event)">
    <form
      class="create-list__form"
      (keyup)="clearErrors($event)"
      [formGroup]="product"
      novalidate>
      <div *ngIf="!isCreated && !isUpdated">
        <h3 class="create-list__title" *ngIf="!isUpdateMode">Add product</h3>
        <h3 class="create-list__title" *ngIf="isUpdateMode">Edit product</h3>
        <label for="productName" class="create-list__label">Name</label>
        <input type="text"
               id="productName"
               #name
               class="input create-list__input create-list__input-name"
               formControlName="name">
        <div *ngIf="errMsgs.name.length && submitted" class="tooltip-error create-list__input_error">
          <ul>
            <li *ngFor="let error of errMsgs.name">
              {{error}}
            </li>
          </ul>
        </div>
        <label for="productAmount" class="create-list__label">Amount</label>
        <input type="text"
               id="productAmount"
               class="input create-list__input"
               #amount
               formControlName="amount"
               required>
        <div *ngIf="errMsgs.amount.length && submitted" class="tooltip-error create-list__input_error">
          <ul>
            <li *ngFor="let error of errMsgs.amount">
              {{error}}
            </li>
          </ul>
        </div>
        <div *ngIf="isError" class="tooltip-error create-list__input_error">
          <span>Your form is not valid.</span>
        </div>
        <div class="create-list__actions">
          <button class="_btn" (click)="createProduct(product)" [class.disabled]="product.invalid" *ngIf="!isUpdateMode">Create</button>
          <button class="_btn" (click)="updateProduct(product)" [class.disabled]="product.invalid" *ngIf="isUpdateMode">Update</button>
          <a class="_btn create-list__actions_close">Close</a>
        </div>
      </div>
      <div *ngIf="isUpdated || isCreated" class="tooltip-error create-list__input_success">
        <span *ngIf="isUpdated">This product was successfully updated.</span>
        <span *ngIf="isCreated">This product was successfully created.</span>

        <div class="create-list__actions">
          <button class="_btn _btn-popup" (click)="clearErrors($event)" *ngIf="!isUpdateMode">One more</button>
          <a class="create-list__actions_close _btn _btn-popup ">Close</a>
        </div>

      </div>

    </form>
  </div>
</div>



