<div class="auth__container">
  <div class="auth__holder">
    <h1 class="auth__title"><span class="fa fa-user-plus"></span>
      Sign up
    </h1>
    <form name="signInForm"
          class="auth__form _clearfix"
          [formGroup]="form"
          novalidate>
      <div class="auth__input-group _clearfix">
        <input type="text"
               class="auth__input"
               formControlName="name"
               name="name"
               [class._error]="apiError || isError && errorMessages.name.length"
               placeholder="Name">
        <div *ngIf="errorMessages.name.length" class="auth__error">
          <ul *ngIf="isError">
            <li *ngFor="let error of errorMessages.name">
              {{error}}
            </li>
          </ul>
        </div>
      </div>
      <div class="auth__input-group _clearfix">
        <input type="email"
               class="auth__input"
               [class._error]="apiError || isError && errorMessages.email.length"
               formControlName="email"
               name="email"
               placeholder="Email"
               required>
        <div *ngIf="errorMessages.email.length" class="auth__error">
          <ul *ngIf="isError">
            <li *ngFor="let error of errorMessages.email">
              {{error}}
            </li>
          </ul>
        </div>
      </div>
      <div class="auth__input-group _clearfix">
        <input type="password"
               class="auth__input"
               [class._error]="apiError || isError && errorMessages.password.length"
               name="password"
               formControlName="password"
               placeholder="Password">
        <div *ngIf="errorMessages.password.length" class="auth__error">
          <ul *ngIf="isError">
            <li *ngFor="let error of errorMessages.password">
              {{error}}
            </li>
          </ul>
        </div>
      </div>
      <div class="auth__signin-error"
           [class._hide]="!isError && !apiError">
        <span>
          {{apiError}}
        </span>
      </div>
      <button class="auth__btn _main _active"
              [disabled]="isError"
              (click)="signUp()">
        Sign up
      </button>
    </form>
    <div class="_left _clearfix">
      <p class="">Already have an account?</p>
      <button class="auth__btn" routerLink="/signin">
        Sign in
      </button>
    </div>
    <div class="_right _clearfix">
      <p class="">Or jump to the</p>
      <button class="auth__btn" routerLink="/">
        Authentication page
      </button>
    </div>
  </div>
</div>
