<div class="create-list">
  <div class="create-list__overflow" (click)="close($event)">
    <form [formGroup]="list"
          class="create-list__form"
          (keyup)="clearErrors($event)"
          novalidate>
      <h3 class="create-list__title" *ngIf="!isUpdateMode">Create list</h3>
      <h3 class="create-list__title" *ngIf="isUpdateMode">Update list</h3>
      <label for="listName" class="create-list__label">List Name</label>
      <input type="text"
             id="listName"
             class="input create-list__input"
             #input
             (focus)="hideDatePicker()"
             formControlName="name">
      <div *ngIf="errMsgs.name.length && submitted" class="tooltip-error create-list__input_error">
        <ul>
          <li *ngFor="let error of errMsgs.name">
            {{error}}
          </li>
        </ul>
      </div>
      <!--<label for="purchaseDate" class="create-list__label">Purchase date</label>-->
      <div class="date-picker__holder">
        <!--<input type="text"-->
               <!--id="purchaseDate"-->
               <!--class="input create-list__input"-->
               <!--#input-->
               <!--formControlName="purchase_date"-->
               <!--(click)="chooseDay()">-->
        <date-picker
          (select)="setSelectedDate($event)"
          (show)="isDatePicker=true"
          [hide]="isDatePicker"
          [purchaseDate]="purchaseDate"

          [allowSelectPrevDate]="false"
          [movingByYears]="true"></date-picker>
        <!--<div *ngerrorMessagesMsgs.purchase_date.length && submitted" class="tooltip-error create-list__input_error">
          <ul>
            <li *ngFor="let errorerrorMessagesMsgs.name">
              {{error}}
            </li>
          </ul>
        </div>-->
      </div>
      <div *ngIf="isCreated && !isUpdateMode" class="tooltip-error create-list__input_success">
        <span>List has been created successfully</span>
      </div>
      <div *ngIf="isCreated && isUpdateMode" class="tooltip-error create-list__input_success">
        <span>List has been updated successfully</span>
      </div>
      <div *ngIf="submitted && isError && isUpdateMode" class="tooltip-error create-list__input_error">
        <span>Unfortunately list hasn't been updated</span>
      </div>
      <div *ngIf="submitted && isError && !isUpdateMode" class="tooltip-error create-list__input_error">
        <span>Unfortunately list hasn't been created</span>
      </div>
      <div class="create-list__actions">
        <button class="_btn _btn-popup" (click)="createList(input.value)" *ngIf="!isUpdateMode">Create</button>
        <button class="_btn _btn-popup" (click)="updateList(list)" *ngIf="isUpdateMode">Update</button>
        <a class="_btn create-list__actions_close _btn-popup">Close</a>
      </div>
    </form>
  </div>
</div>



