.pagination {

  &__holder {
    margin: 10px 20px;
  }

  &__button {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    background: lightseagreen;
    margin-right: 5px;
    cursor: pointer;
    transition: background ease-in 250ms;

    &:hover {
      background: lighten(lightseagreen, 30%);
    }
  }

  ._active-page {
    background: blue;
  }
}
