<p>
  pagination works!
</p>
<div class="pagination" *ngIf="totalItemsAmount > itemsOnPage">
  <div class="pagination__holder">
    <ul class="pagination__list">
      <li
        class="pagination__button _pagination-prev"
        (click)="moveByPages(currentPage-1)"><</li>
      <li class="pagination__button"
          [ngClass]="{'_active-page': currentPage == page}"
          *ngFor="let page of pages; let i = index"
          (click)="moveByPages(page)">{{page}}
      </li>
      <li
        class="pagination__button _pagination-next"
        (click)="moveByPages(currentPage+1)">></li>
    </ul>
  </div>
</div>
