$trackColor: rgba(0,0,0,0.3);
$thumbColor: rgba(0,0,0,0.5);
$bgColor: rgba(65,105,225,1);

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px $trackColor;
  //border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  //border-radius: 2px;
  //-webkit-box-shadow: inset 0 0 3px $thumbColor;
  background: $bgColor;
}

// For Internet Explorer
body {
  scrollbar-face-color: $trackColor;
  scrollbar-track-color: $thumbColor;
}
