@font-face {
  font-family: FiraSans-Light;
  src:
    url('../assets/fonts/firasans-light-webfont.woff'),
    url('../assets/fonts/firasans-light-webfont.woff2');
}

@font-face {
  font-family: FiraSans-UltraLight;
  src:
    url('../assets/fonts/firasans-ultralight-webfont.woff'),
    url('../assets/fonts/firasans-ultralight-webfont.woff2');
}

@font-face {
  font-family: Mensch-Thin;
  src:
    url('../assets/fonts/mensch-thin-webfont.woff'),
    url('../assets/fonts/mensch-thin-webfont.woff2');
}

@font-face {
  font-family: Mensch;
  src:
    url('../assets/fonts/mensch-webfont.woff'),
    url('../assets/fonts/mensch-webfont.woff2');
}
