._left {
  float: left;
}

._right {
  float: right;
}

._clearfix:after {
  display: table;
  content: '';
  clear: both;
}

.input {
  font-family: $FiraLight;
  padding: 7px 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 75%;
  border: 1px solid $mainColor;
  line-height: 19px;
  font-size: 17px;
}

._btn {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-family: $FiraLight;
  background: #fff;
  border: 1px solid $mainColor;
  padding: 5px 10px;
  box-sizing: border-box;
  width: 75px;
  letter-spacing: initial;
}

._btn-small {
  font-size: 13px;
  padding: 2px 10px;
  width: auto;
}

._invisible {
  visibility: hidden;
}


._btn-popup {
  width: 100px;
}

.tooltip-error {
  color: $errorTip;
  display: inline-block;
  margin-bottom: 5px;
}

.disabled {
  color: lighten($textColor, 30%);
  border-color: lighten($mainColor, 10%);
}

._noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}





::-webkit-input-placeholder {
  color: $placeholderColor;
}

:-moz-placeholder { /* Firefox 18- */
  color: $placeholderColor;
}

::-moz-placeholder { /* Firefox 19+ */
  color: $placeholderColor;
}

:-ms-input-placeholder {
  color: $placeholderColor;
}
