html {
  height:100%;
}
body {
  font: $baseFont;
  margin: 0;
  padding: 0;
  height: 100%;
  color: $textColor;
  background-color:rgba(53, 175, 224, 0.15);
}

.container{
  max-width: 1000px;
  //height: 400px;
  background: transparent;
  margin: 0 auto;
}
.wrapper{
  background: transparent;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

a,
button {
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  color: $textColor;
  font: $baseFont;
  &:hover{
    text-decoration: none;
  }
  &:focus{
    outline: none;
  }
}
img {
  outline: none;
  border: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}
input {
  border: none;
  outline: none;
}
