$borderColor: rgba(65,105,225,1);
$bgWhite: #fff;

.selector {

  &__overflow{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0, 0.4);
  }

  &__selects {
    margin-bottom: 7px;
  }


  &__holder {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    padding: 5px 10px;
    border: 1px solid $borderColor;
    width: 130px;
    background: #fff;
    margin-bottom: 5px;
  }

  &__delimiter {

  }

}
