<div class="selector">
  <div class="selector__overflow">
    <div class="selector__holder">
      <div>
        <div class="selector__selects">
          <custom-select [items]="hours" [selected]="innerTime.hours" (select)="onSelectHours($event)"></custom-select>
          <span class="selector__delimiter">:</span>
          <custom-select [items]="minutes" [selected]="innerTime.minutes" (select)="onSelectMinutes($event)"></custom-select>
        </div>
        <div class="selector__actions">
          <button class="_btn _btn-small" (click)="cancelSelection()">Cancel</button>
          <button class="_btn _btn-small" (click)="selectTime()">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>
