<nav class="header-nav">
  <ul class="header-nav__list">
    <li class="header-nav__item">
      <a
        routerLink="/main/lists"
        routerLinkActive="_active"
        class="header-nav__link  ">
        Product Lists
      </a>
    </li>
    <li class="header-nav__item">
      <a
        routerLink="/main/profile"
        routerLinkActive="_active"
        class="header-nav__link">
        Profile
      </a>
    </li>
    <li class="header-nav__item">
      <a
        routerLink="/main/statics"
        routerLinkActive="_active"
        class="header-nav__link  ">
        Statics
      </a>
    </li>
    <li class="header-nav__item">
      <a
        *ngIf="isLogged"
        (click)="signOut()"
        class="header-nav__link">Sign Out</a>
    </li>
    <li class="header-nav__item">
      <a
        *ngIf="!isLogged"
        (click)="goToSignIn()"
        class="header-nav__link">Sign In</a>
    </li>
  </ul>
</nav>
