<div class="main-list-holder">
  <div class="main-list-header">
    <ul class="main-list-header__list">
      <li class="main-list-header__item">
        <div class="main-list-header__info">You have {{(productLists | async)?.length}} product lists</div>
      </li>
      <li class="main-list-header__item">
        <a [routerLink]="['/', {outlets: {popup: ['create-list']}}]"
           class="main-list-header__link _list-btn _add fa fa-plus-square-o">
        </a>
      </li>
    </ul>
  </div>
  <div class="main-list">
    <ul class="main-list__body">
      <li class="main-list__item main-list_header">
        <ul class="main-list__row main-list__row-all">
          <!-- number of product in the list -->
          <li class="main-list__cell main-list__cell_header_item">
            Index
          </li>
          <!-- create date of product in the list -->
          <li class="main-list__cell main-list__cell_header_item">
            Create
          </li>
          <!-- name of a product -->
          <li class="main-list__cell main-list__cell_header_item">
            Name
          </li>
          <!-- amount of product -->
          <li class="main-list__cell main-list__cell_header_item">
            products
          </li>
          <!-- product actions -->
          <li class="main-list__cell main-list__cell_header_item">
            Completed
          </li>
          <!-- product actions -->
          <li class="main-list__cell main-list__cell_header_item">
            Purchase date
          </li>
          <!-- product actions -->
          <li class="main-list__cell main-list__cell_header_item">
            Edit
          </li>
          <li class="main-list__cell main-list__cell_header_item">
            Delete
          </li>
          <li class="main-list__cell main-list__cell_header_item">
            Details
          </li>
        </ul>
      </li>
      <li class="main-list__item main-list__item_content" *ngFor="let list of productLists | async; let i = index">
        <ul class="main-list__item main-list__item_row main-list__row main-list__row-all">
          <!-- number of product in the list -->
          <li class="main-list__cell main-list__item_number">
            {{i+1}}
          </li>
          <!-- creation date -->
          <li class="main-list__cell main-list__item_number">
            {{list.createdAt | date}}
          </li>
          <!-- name of a product -->
          <li class="main-list__cell main-list__cell_name">
            {{list.name}}
          </li>
          <!-- amount of product -->
          <li class="main-list__cell main-list__cell_amount">
            {{list._products.length}}
          </li>
          <!-- state of completion -->
          <li class="main-list__cell main-list__cell_amount">
            {{list.status}}%
          </li>
          <!-- state of completion -->
          <li class="main-list__cell main-list__cell_amount">
            {{list.purchase_date | date}}
          </li>
          <!-- product actions -->
          <li class="main-list__cell main-list__cell_action main-list__cell_action_edit">
            <button class="_btn main-list__cell_btn" (click)="updateList(list._id)">
              Edit
            </button>
          </li>
          <li class="main-list__cell main-list__cell_action main-list__cell_action_delete">
            <button class="_btn main-list__cell_btn" (click)="deleteList(list._id)">
              Delete
            </button>
          </li>
          <li class="main-list__cell main-list__cell_action main-list__cell_action_details">
            <button class="_btn main-list__cell_btn" (click)="goToList(list._id)">
              Details
            </button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
