<div class="auth__container">
  <div class="auth__holder">
      <h2 class="auth__title"><span class="fa fa-lock"></span> Authentication</h2>

      <div class="auth__btn-block">
        <button routerLink="/signin" class="auth__btn">
          <span class="fa fa-sign-in" aria-hidden="true"></span>
          Sign in
        </button>
        <button routerLink="/signup" class="auth__btn">
          <span class="fa fa-user-plus"></span>
          Sign up
        </button>
      </div>
      <br>
      <!--<button routerLink="/main" class="auth__btn">-->
        <!--<span class="fa fa-home"></span>-->
        <!--Or just go to the home page-->
      <!--</button>-->
    </div>

</div>

