<div class="profile">
  <div class="profile__holder">
    <div class="profile__item">
      <div class="profile__field-title">Name</div>
      <div class="profile__field-value">{{user?.name}}</div>
    </div>
    <div class="profile__item">
      <div class="profile__field-title">Email</div>
      <div class="profile__field-value">{{user?.email}}</div>
    </div>
  </div>
  <div class="profile__actions">
    <button class="_btn" (click)="goToEdit()">Change Info</button>
    <button class="_btn">Change Password</button>
  </div>
</div>
