<div class="popup">
  <div class="popup__overflow">
    <div class="popup__content" (keypress)="onChangeError()">
      <h3 class="create-list__title">Update information</h3>

      <label for="userName" class="create-list__label">New Name</label>
      <input id="userName"  class="input create-list__input" #name>

      <label for="userEmail" class="create-list__label">New Email</label>
      <input id="userEmail" class="input create-list__input" #email>

      <div class="create-list__actions">
        <button class="_btn _btn-popup" (click)="onUpdateUser({name: name.value, email: email.value})">Update</button>
        <a class="_btn create-list__actions_close _btn-popup" (click)="close($event)">Close</a>
      </div>

      <div class="popup__error" *ngIf="isError">
        <div class="message">
          Your new name or email is not valid
        </div>
      </div>

    </div>
  </div>
</div>



