<div class="wrapper">
  <header class="header">
    <div class="container">
      <navbar></navbar>
    </div>
  </header>
  <section class="main">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
    </div>
  </footer>

</div><!-- / .wrapper -->

<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
<!--<p>{{products}}</p>-->
