<div class="main-list-holder">
  <div class="main-list-header">
    <ul class="main-list-header__list">
      <li class="main-list-header__item">
        <div class="main-list-header__info">You have {{products?.length}} products in this list</div>
      </li>
      <li class="main-list-header__item">
        <a [routerLink]="['/', {outlets: {popup: [listId, 'add-product']}}]"
           class="main-list-header__link _list-btn _add fa fa-plus-square-o">
        </a>
      </li>
    </ul>
  </div>
  <div class="main-list">
    <ul class="main-list__body">
      <li class="main-list__item main-list_header">
        <ul class="main-list__row">
          <!-- number of product in the list -->
          <li class="main-list__cell main-list__cell_header_item">
            Index
          </li>
          <!-- create date of product in the list -->
          <li class="main-list__cell main-list__cell_header_item">
            Create
          </li>
          <!-- update date of product in the list -->
          <li class="main-list__cell main-list__cell_header_item">
            Update
          </li>
          <!-- name of a product -->
          <li class="main-list__cell main-list__cell_header_item">
            Name
          </li>
          <!-- amount of product -->
          <li class="main-list__cell main-list__cell_header_item">
            Amount
          </li>
          <!-- status of product -->
          <li class="main-list__cell main-list__cell_header_item">
            Status
          </li>
          <!-- product actions -->
          <li class="main-list__cell main-list__cell_header_item">
            Edit
          </li>
          <li class="main-list__cell main-list__cell_header_item">
            Delete
          </li>
          <li class="main-list__cell main-list__cell_header_item">
            Details
          </li>
        </ul>
      </li>
      <li class="main-list__item main-list__item_content"
          *ngFor="let product of productsToShow; let i = index">
        <ul class="main-list__item main-list__item_row main-list__row">
          <!-- number of product in the list -->
          <li class="main-list__cell main-list__item-number">
            {{i+1}}
          </li>
          <!-- creation date -->
          <li class="main-list__cell main-list__item-number">
            {{product.createdAt | date}}
          </li>
          <!-- update date -->
          <li class="main-list__cell main-list__item-number">
            {{product.updatedAt | date}}
          </li>
          <!-- name of a product -->
          <li class="main-list__cell main-list__cell-name">
            {{product.name}}
          </li>
          <!-- amount of product -->
          <li class="main-list__cell main-list__cell-amount">
            {{product.amount}}
          </li>
          <!-- product status-->
          <li class="main-list__cell main-list__cell-name main-list__toggle-status" (click)="toggleStatus(product)">
            {{product.status}}
          </li>
          <!-- product actions -->
          <li class="main-list__cell main-list__cell_action main-list__cell_action_edit">
            <button class="_btn main-list__cell_btn" (click)="editProduct(product)">
              Edit
            </button>
          </li>
          <li class="main-list__cell main-list__cell_action main-list__cell_action_delete">
            <button class="_btn main-list__cell_btn" (click)="deleteProduct(product)">
              Delete
            </button>
          </li>
          <li class="main-list__cell main-list__cell_action main-list__cell_action_details">
            <button class="_btn main-list__cell_btn" (click)="goToDetails(list)">
              Details
            </button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<pagination [itemsOnPage]="itemsOnPage"
            [items]="products"
            (itemsToShow)="onItemsToShow($event)"></pagination>

