.date-picker {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  border: 1px solid black;
  display: inline-block;
  margin-left: 12.5%;
  box-sizing: border-box;

  &__month-selector{
    margin: 5px;
    height: 25px;
    line-height: 25px;
  }

  &__current-month-title {
    display: inline-block;
    width: 120px;
  }

  &__table {
    margin: 10px 15px;
  }

}
.date-picker__body {
  box-shadow: 0 0 15px 5px rgba(64,64,64,0.6);
  position: absolute;
  font-size: 16px;
  margin-left: 12%;
  padding-top: 5px;
  background: white;
}

.date-picker__table {
  background: whitesmoke;
}

.date-picker__month-nav {
  cursor: pointer;
  font-weight: bold;
  transition: color ease-in 150ms;

  &:hover .fa{
    color: lighten(#191919, 20%);
  }
}

.month-day {
  width: 35px;
  color: #AEAEAE;
  font-size: 16px;
  border: 1px solid transparent;

  &.current-month-days.month-day-unavailable{
    color: #3232d7;
  }



  &.month-day-available {
    color: #00CD00;
    cursor: pointer;
    transition: border-color ease-in 150ms;

    &:hover {
      border: 1px solid #00CD00;
      border-radius: 2px;
    }
  }
}
.selected {
  border: 1px solid #00CD00;
  border-radius: 2px;
}
