<label for="purchaseDate" class="create-list__label">Purchase date</label>
<input type="text"
       id="purchaseDate"
       class="input create-list__input"
       (keydown)="false"
       #input
       (click)="(isDatePicker = !isDatePicker) && show.next()">
<div class="date-picker__body" *ngIf="isDatePicker">

  <div class="date-picker__month-selector _noselect" (click)="moveByYear($event)" *ngIf="movingByYears">
    <span class="date-picker__month-nav month-back date-nav-action _go-back">
      <i class="fa fa-angle-left date-nav-action" aria-hidden="true"></i>
    </span>
    <div class="date-picker__current-month-title">
      {{date.msValue | date: 'y'}}
    </div>
    <span class="date-picker__month-nav month-forward date-nav-action _go-forward">
      <i class="fa fa-angle-right date-nav-action" aria-hidden="true"></i>
    </span>
  </div>

  <div class="date-picker__month-selector _noselect" (click)="moveByMonth($event)">
    <span class="date-picker__month-nav month-back date-nav-action _go-back">
      <i class="fa fa-angle-left date-nav-action" aria-hidden="true"></i>
    </span>

    <div class="date-picker__current-month-title" *ngIf="movingByYears">
      {{date.msValue | date: 'MMMM'}}
    </div>

    <div class="date-picker__current-month-title" *ngIf="!movingByYears">
      {{date.msValue | date: 'MMMM y'}}
    </div>

    <span class="date-picker__month-nav month-forward date-nav-action _go-forward">
      <i class="fa fa-angle-right date-nav-action" aria-hidden="true"></i>
    </span>
  </div>
  <div class="date-picker__table-holder">
    <div class="date-picker__table">
      <table class="date-picker__table">
        <thead class="date-picker__table-head">
        <tr class="date-picker__table-row">
          <th class="date-picker__table-cell"
              *ngFor="let day of DAYS_SHORT">
            {{day}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let week of calendar">
          <td *ngFor="let day of week"
              class="month-day"
              [ngClass]="{
            'current-month-days': day.currentMonth,
            'month-day-available': dateIsAvailableForSelect(day),
            'month-day-unavailable': !dateIsAvailableForSelect(day),
            'selected': isSelectedDay(day)
           }"
              (click)="selectDate({target: $event.target, day: day})">{{day.value}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="date-picker__hours-selector" *ngIf="dayIsSelected">
      <time-selector
        [inputTime]="time"
        (select)="applyTime($event)"
        (close)="onClose()"></time-selector>
    </div>
  </div>
</div>
