<div class="select" (clickOutside)="onClose()">
  <div class="select__result" (click)="openSelect()">{{selectedItem || items.label}}</div>
  <div class="select__holder">
    <div class="select__list" [ngClass]="{'_invisible': !showSelectList}">
      <div
        class="select__list-item"
        [ngClass]="{'selected': selectedItem == item}"
        *ngFor="let item of items.value"
        (click)="selectItem(item)">
        {{item}}
      </div>
    </div>
  </div>
</div>
