$colorHoveredItem: #0022d2;
$colorBorder: #7c7c7c;
$colorHoveredBg: #663399;
$colorHoveredText: #f5deb3;
$widthList: 40px;

.select {
  position: relative;
  font-size: 18px;
  display: inline-block;

  &__result {
    cursor: pointer;
    width: $widthList;
    display: inline-block;
    padding: 3px 0;
  }

  &__list {
    height: 150px;
    width: 40px;
    padding: 2px;
    overflow: auto;
    position: absolute;
    background: #fff;
    top: 25px;
  }

  &__list-item {
    height: 25px;
    line-height: 25px;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    transition:
      border-bottom ease-in 100ms,
      color ease-in 100ms,
      background ease-in 100ms;

    &:hover {
      cursor: pointer;
      border-bottom: 2px solid $colorHoveredItem;
      color: $colorHoveredText;
      background: $colorHoveredBg;
    }

    &.selected {
      border-bottom: 2px solid $colorHoveredItem;
      color: $colorHoveredText;
      background: $colorHoveredBg;
    }
  }
}
